################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FitnessTracker.Core/bin/Debug/netcoreapp3.1
/FitnessTracker.Core/obj
/FitnessTracker.Data/bin/Debug/netcoreapp3.1
/FitnessTracker.Data/obj
/FitnessTracker/.gitignore
