<nav class='navbar navbar-expand navbar-dark bg-dark'>
  <a class='navbar-brand'><b>{{title}}</b></a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/welcome']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li *ngIf="(authorized$ | async)"><a class='nav-link' [routerLink]="['/users']">User List</a></li>
    <li *ngIf="(authorized$ | async)"><a class='nav-link' [routerLink]="['/logs']">Log List</a></li>
  </ul>
  <ul class='nav nav-pills ml-auto' *ngIf="!(authorized$ | async)">
    <li><a class='nav-link' [routerLink]="['/register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Register</a></li>
    <li><a class='nav-link' [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a></li>
  </ul>
  <ul class='nav nav-pills ml-auto' *ngIf="(authorized$ | async)">
    <li><a class='nav-link' (click)="logout()" [routerLink]="['/login']">Log out</a></li>
  </ul>
</nav>
<div class='container-body'>
  <div class='container container-main'>
    <router-outlet></router-outlet>
  </div>
</div>