
  <ul class="log-list log-list-row">
    <a [routerLink] = "['/logs', log.logId]">
    <li class="col-width-med">
      {{log.created | date : "EEE, MMMM d, y"}}
    </li>
    <li class="col-width-short">
      {{log.created | date : "shortTime"}}
    </li>
    <li class="col-width-med">
      {{log.user.username}}
    </li>
    <li class="col-width-med">
      {{log.user.firstName}} {{log.user.lastName}}
    </li>
    <li class="col-width-long">
      {{log.comments}}
    </li>
    </a>
  </ul>

