<div class="card-footer">  
    <form [formGroup]="userForm">
        <div class="row">
            <div class="col-md-1">Filter by:</div>
            <div class="col-md-4">
                <input type="text" formControlName = "userFilter"/>
            </div>
        </div>
      </form>
      <div class="col-lg-12 table-responsive">  
          <table id="userTable" class="table table-striped">  
              <thead>  
                  <tr>  
                      <th>Users</th>  
                  </tr>  
              </thead>  
              <tbody>  
                  <tr class="userTr" *ngFor="let user of filteredUsers$ | async" (click)=userLogs(user)>
                      <td>{{user.username}}</td>
                      <td>{{user.firstName}} {{user.lastName}}</td>
                  </tr>  
              </tbody>  
          </table>  
      </div>  
  </div>  
  