
    <form [formGroup]="logForm" >
        <div class="form-group" [ngClass]="{'has-error' : formErrors.set}">
            <label for="set">Set:</label>
            <input type="number" class="form-control" formControlName = "set" placeholder="Enter set" readonly>
        </div>
        <div class="form-group">
            <label for="weight">Weight:</label>
            <input type="number" class="form-control" formControlName = "weight" placeholder="Enter weight" 
                min="5" max="1000" step="5" (blur)="logValidationErros()">
            <span class="error" *ngIf="formErrors.weight">{{formErrors.weight}}</span>
        </div>
        <div class="form-group">
            <label for="reps">Reps:</label>
            <input type="number" class="form-control" formControlName = "reps" placeholder="Enter reps"  
                min="1" max="100" (blur)="logValidationErros()">
            <span class="error" *ngIf="formErrors.reps">{{formErrors.reps}</span>
        </div>
        <div class="form-group">
            <label for="targetRep">Target Reps:</label>
            <input type="number" class="form-control" formControlName = "targetRep" placeholder="Enter target reps" 
                min="1" max="100" (blur)="logValidationErros()">
            <span class="error" *ngIf="formErrors.targetRep">{{formErrors.targetRep}}</span>
        </div>

        <p>
            <button [hidden]="logForm.invalid" (click)="onSubmit()" [disabled]="logForm.invalid">Save</button>
            <button (click)="onBack()">Back</button>
        </p>
    </form>
