/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.error{
    color:red;
  }

html { background-color: #FFF; }

.card > .card-header{background:#999; color:#FFF; font-size:x-large}