<div class="card">
  <div class="card-header">
    <h3>{{pageTitle}}</h3>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Nunc congue nisi vitae suscipit. Nibh mauris cursus mattis molestie a iaculis at. Neque gravida in fermentum et sollicitudin 
            ac orci phasellus egestas. Risus nec feugiat in fermentum posuere urna nec. Etiam erat velit scelerisque in. Sit amet est placerat 
            in egestas erat imperdiet. Nec dui nunc mattis enim ut tellus. Tortor consequat id porta nibh venenatis cras. Massa placerat duis 
            ultricies lacus sed turpis tincidunt id. Praesent elementum facilisis leo vel fringilla est ullamcorper. Et tortor consequat id porta 
            nibh venenatis cras.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card" style="width:300px">
            <div class="card-header " style="background-color:DarkSlateGray">
              <h4>Workouts</h4>
            </div>
            <img class="card-img-top" src="../../assets/images/placeholder-avatar.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Workout Plans</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
            <div class="card-body">
              <h4 class="card-title">My Workouts</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="#" class="btn btn-primary" [routerLink]="['/logs']">View</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width:300px">
            <div class="card-header" style="background-color:DarkSlateGray">
              <h4>Exercises</h4>
            </div>
            <img class="card-img-top" src="../../assets/images/placeholder-avatar.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Exercise Guide</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Cardio</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width:300px">
            <div class="card-header" style="background-color:DarkSlateGray">
              <h4>Calculators</h4>
            </div>
            <img class="card-img-top"  src="../../assets/images/placeholder-avatar.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Body Fat Calculator</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
            <div class="card-body">
              <h4 class="card-title">Calorie Counter</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              <a href="#" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>